@page "/customers"
@model Pinewood.Customers.WebApp.Pages.CustomersModel
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script src="~/js/pages/customers/customers-page.js"></script>
<script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css" />

<div id="customers-holder">
    <table id="customers-data-table" class="display">
        <thead>
            <tr>
                <th>Title</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody id="customers-table-content">
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            CustomersPageComponent.init('@Model.CustomersBaseUrl', '#customers-data-table');
        });

    </script>
}
